{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block importmap %}
    {{ importmap(['app', 'register']) }}
{% endblock %}

{% block body %}
    <div class="container-sm py-5">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="contact-wrapper shadow rounded-1">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <div class="contact-info h-100" >
                                <h6 class="mb-3 text-warning">Indications :</h6>
                                <p class="my-3 text-info-emphasis text-sm-center" id="dialogRegister">&nbsp;</p>
                                <ul class="text-info-emphasis">
                                    <li class="contact-item">
                                        <p class="fw-light text-info-emphasis" id="email-info">Email</p>
                                    </li>
                                    <li class="contact-item">
                                        <p class="fw-light text-info-emphasis" id="pseudo-info">Pseudo</p>
                                    </li>
                                    <li class="contact-item">
                                        <p class="fw-light text-info-emphasis" id="portrait-info">Portrait</p>
                                    </li>
                                    <li class="contact-item">
                                        <p class="fw-light text-info-emphasis" id="password-info">Mot de passe</p>
                                    </li>

                                    <div class="contact-item mb-5" id="password-info">
                                        <ul id='password_criteria' class="text-warning">
                                            <li id="password_length_criteria" data-password-criteria class="password-criteria-true">10 caractères au total</li>
                                            <li id="password_special_character_criteria" data-password-criteria>Caractère spécial</li>
                                            <li id="password_uppercase_criteria" data-password-criteria>Majuscule</li>
                                            <li id="password_number_criteria" data-password-criteria>Chiffre</li>
                                            <li id="password_lowercase_criteria" data-password-criteria>Minuscule</li>
                                        </ul>
                                    </div>

                                    <li class="contact-item">
                                        <p class="fw-light text-info-emphasis" id="agree-info">Contrat </p>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-md-8" >
                            <div class="contact-form">
                                <div class="bg-white text-center rounded-3 ">
                                    <h1 class="mb-3 text-sm-center shadow-sm fst-italic text-primary">Inscription</h1>
                                </div>
                                <hr class="text-warning" />
                                {{ form_start(registrationForm,{attr:{id:'registration_form',novalidate:'novalidate'}}) }}
                                <div class="form-floating mb-3">
                                    {{ form_widget(registrationForm.email) }}
                                    {{ form_label(registrationForm.email)}}
                                    <div class="text-danger small">
                                        {{ form_errors(registrationForm.email)}}
                                    </div>
                                </div>

                                <div class="form-floating mb-3">
                                    {{ form_widget(registrationForm.pseudo) }}
                                    {{ form_label(registrationForm.pseudo)}}
                                    <div class="text-danger small">
                                        {{ form_errors(registrationForm.pseudo)}}
                                    </div>
                                </div>
                                <div class="form-floating mb-3" id="registerPortrait" >
                                    {{ form_widget(registrationForm.portrait) }}
                                    {{ form_label(registrationForm.portrait)}}
                                    <div class="text-danger small">
                                        {{ form_errors(registrationForm.portrait)}}
                                        <small id="errorPortrait"></small>
                                    </div>
                                </div>
                                <div class="form-floating mb-3">
                                    {{ form_widget(registrationForm.plainPassword,{'attr':{'class':'form-control text-primary-emphasis'}}) }}
                                    {{ form_label(registrationForm.plainPassword)}}
                                    <div class="text-danger small">
                                        {{ form_errors(registrationForm.plainPassword)}}
                                    </div>
                                </div>
                                <div class="mb-3 form-check">
                                    {{ form_widget(registrationForm.agreeTerms,{'attr':{'class':'form-control text-primary-emphasis'}}) }}
                                    {{ form_label(registrationForm.agreeTerms)}}
                                    <div class="text-danger small">
                                        {{ form_errors(registrationForm.agreeTerms)}}
                                        <small id="errorAgreeTerms"></small>
                                    </div>
                                </div>
                                <div class="d-grid">
                                    {{ form_row(registrationForm.register,{ attr:{ class:'btn btn-outline-primary text-capitalize col-12 mx-auto' } }) }}
                                </div>
                                {{ form_end(registrationForm) }}
                                <div class="text-center mt-3">
                                    <a href="{{ path('app_login') }}" class=" text-warning  fst-italic text-decoration-none "
                                       data-bs-toggle="tooltip" data-bs-placement="top" title="Déjà inscrit ?">Déjà inscrit ?</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
